boto3==1.7.58
botocore==1.10.58
cassandra-driver==3.14.0
docutils==0.14
jmespath==0.9.3
numpy==1.14.5
pandas==0.23.3
python-dateutil==2.7.3
pytz==2018.5
s3transfer==0.1.13
scikit-learn==0.19.2
six==1.11.0
sklearn==0.0